<footer class="footer">
        <div class="wide-screen">
            <div class="row">
                &copy; Juha Häkkinen, <a href="http://www.nuvostaq.com">Nuvostaq Oy</a>
            </div>
            <div class="row">
                Uses <a href="http://glyphicons.com/">Glyphicons</a>
                <a href="http://creativecommons.org/licenses/by/3.0/"><img src="/BigDataSpark/images/CC-BY_icon.svg.png" width="60px"/></a>
                <p class="pull-right">
                    <a href="/BigDataSpark/" title="Blog home"><img class="bg-img" src="/BigDataSpark/images/glyphicons/glyphicons-21-home.png"></a>
                    {% if page.previous.url %} <a href="/BigDataSpark{{page.previous.url}}" title="Previous Post: {{page.previous.title}}"><img class="bg-img" src="/BigDataSpark/images/glyphicons/glyphicons-173-rewind.png"></a> {% endif %}
                    <a href="#" title="Top"><img class="bg-img" src="/BigDataSpark/images/glyphicons/glyphicons-214-arrow-up.png"></a>
                    {% if page.next.url %}<a href="/BigDataSpark{{page.next.url}}" title="Next Post: {{page.next.title}}"><img class="bg-img" src="/BigDataSpark/images/glyphicons/glyphicons-177-forward.png"></a>{% endif %}
                </p>
            </div>
        </div>
        <div class="narrow-screen">
            <div class="row">
                &copy; Juha Häkkinen, <a href="http://www.nuvostaq.com">Nuvostaq Oy</a>
            </div>
            <div class="row">
                Uses <a href="http://glyphicons.com/">Glyphicons</a>
                <a href="http://creativecommons.org/licenses/by/3.0/"><img src="/BigDataSpark/images/CC-BY_icon.svg.png" width="60px"/></a>
            </div>
            <div class="row center">
                <p>
                    <a href="/BigDataSpark/" title="Blog home"><img class="bg-img" src="/BigDataSpark/images/glyphicons/glyphicons-21-home.png"></a>
                    {% if page.previous.url %} <a href="/BigDataSpark{{page.previous.url}}" title="Previous Post: {{page.previous.title}}"><img class="bg-img" src="/BigDataSpark/images/glyphicons/glyphicons-173-rewind.png"></a> {% endif %}
                    <a href="#" title="Top"><img class="bg-img" src="/BigDataSpark/images/glyphicons/glyphicons-214-arrow-up.png"></a>
                    {% if page.next.url %}<a href="/BigDataSpark{{page.next.url}}" title="Next Post: {{page.next.title}}"><img class="bg-img" src="/BigDataSpark/images/glyphicons/glyphicons-177-forward.png"></a>{% endif %}
                </p>
            </div>

        </div>
    </div>
    <script>
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    </script>
</footer>
