<div class="row">
    <div class="span9 column">
        <p><h1>{{ page.title }}</h1></p>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <h5><strong>{{ page.date | date: "%B %e, %Y" }}
            <small>
                &nbsp;<a href="#disqus_area" data-disqus-identifier="{{ page.url }}">Comments</a>
            </small>
        </strong>
            <!--<br/><small>Tags: {% for tag in page.tags %}-->
                <!--<a href="/BigDataSpark/tags/{{ tag }}" title="View posts tagged with &quot;{{ tag }}&quot;">-->
                    <!--<u>{{ tag }}</u></a>  {% if forloop.last != true %} {% endif %} {% endfor %} </small><br/>-->
            <br/>
            <div class="margin-top">
                <a href="https://twitter.com/share" class="twitter-share-button" data-via="juhahak"> </a>
            </div>
        </h5>
    </div>
</div>
<div class="row">
    <div class="span9 column">
        <hr>
    </div>
</div>