<html class="fuelux" lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Juha Hakkinen, Nuvostaq">

    <!-- Le styles -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="//www.fuelcdn.com/fuelux/3.13.0/css/fuelux.min.css" rel="stylesheet">
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://fuelcdn.com/fuelux/2.2/loader.min.js" type="text/javascript"></script>
    <link href="/BigDataSpark/css/styles.css" rel="stylesheet">
    <link href="/js/google-code-prettify/prettify.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/favicon.ico">
</head>
<body data-spy="scroll" data-target=".subnav" data-offset="50">

<div class="container">
    <div class="content">
        <div class="row">
            <h1>{{page.title}}</h1>
            <a href="http://www.nuvostaq.com">by Nuvostaq</a><br><br>
            <img src="/BigDataSpark/images/spark-logo-hd.png" height="100">
        </div>
        <div class="row">
            {{ content }}
        </div>
    </div>
</div>

{% include footer.html %}

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

</body>
</html>